<div class="space"></div>

<mat-spinner *ngIf="load" strokeWidth="5" color="accent"></mat-spinner>

<div *ngIf="!user && !load && !expired" class="card-space">
  <mat-card>
    <h2>Ayúdanos a mantener la seguridad en tu cuenta</h2>

    <app-form-user
      (code)="onCode($event)"
      (expired)="onExpired()"
    >
    </app-form-user>
  </mat-card>
</div>

<div *ngIf="user && !load && !expired" class="card-space">
  <mat-card>
    <h2>Tu código de inicio de sesión es:</h2>

    <div style="text-align: center; color: #00bcd4; font-size: 32px; padding: 24px">
      {{ code }}
    </div>
  </mat-card>
</div>

<div *ngIf="!load && expired" class="card-space">
  <mat-card>
    <div class="error">
      Tu código de inicio de sesión a expirado intenta con uno nuevo
    </div>
  </mat-card>
</div>
